body{
    background: url("./Stud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
form{
    margin-left: 2%;
 
}
.inp{
    width: 80%;
}
.btn-toolbar{
    margin-left: 33%;
}
.table{
    width: 100%;
   margin-top: 5%;
   background-color: rgba(0,0,0,0.8);
   color: aliceblue;
}
.ab{
    font-weight: 900;
    color: black;
}