body{
    background: url("./teach.png");
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    margin-left: 10%;
    background-color:rgba(0,0,0,0.8);
    padding: 12px;
    color: aliceblue;
    font-weight: 600;
 
}
.inp{
    width: 100%;
}

.table{
    width: 85%;
   margin-left: 10%;
   margin-top: 5%;
   background-color: rgba(0,0,0,0.8);
   color: aliceblue;
}
.ab{
    font-weight: 800;
}
.bts{
   left: 500px;
   top:15px;
}